[submodule "vendor/github.com/Microsoft/go-winio"]
	path = vendor/github.com/Microsoft/go-winio
	url = https://github.com/Microsoft/go-winio
[submodule "vendor/github.com/Sirupsen/logrus"]
	path = vendor/github.com/Sirupsen/logrus
	url = https://github.com/Sirupsen/logrus
[submodule "vendor/golang.org/x/sys"]
	path = vendor/golang.org/x/sys
	url = https://go.googlesource.com/sys
[submodule "vendor/github.com/urfave/cli"]
	path = vendor/github.com/urfave/cli
	url = https://github.com/urfave/cli
[submodule "vendor/github.com/opencontainers/runtime-spec"]
	path = vendor/github.com/opencontainers/runtime-spec
	url = https://github.com/opencontainers/runtime-spec
[submodule "vendor/github.com/onsi/ginkgo"]
	path = vendor/github.com/onsi/ginkgo
	url = https://github.com/onsi/ginkgo
[submodule "vendor/github.com/onsi/gomega"]
	path = vendor/github.com/onsi/gomega
	url = https://github.com/onsi/gomega
[submodule "vendor/gopkg.in/yaml.v2"]
	path = vendor/gopkg.in/yaml.v2
	url = https://gopkg.in/yaml.v2
[submodule "vendor/golang.org/x/net"]
	path = vendor/golang.org/x/net
	url = https://go.googlesource.com/net
[submodule "vendor/golang.org/x/text"]
	path = vendor/golang.org/x/text
	url = https://go.googlesource.com/text
[submodule "vendor/github.com/opencontainers/runtime-tools"]
	path = vendor/github.com/opencontainers/runtime-tools
	url = https://github.com/opencontainers/runtime-tools
[submodule "vendor/github.com/blang/semver"]
	path = vendor/github.com/blang/semver
	url = https://github.com/blang/semver
[submodule "vendor/github.com/syndtr/gocapability"]
	path = vendor/github.com/syndtr/gocapability
	url = https://github.com/syndtr/gocapability
[submodule "vendor/github.com/Microsoft/hcsshim"]
	path = vendor/github.com/Microsoft/hcsshim
	url = https://github.com/Microsoft/hcsshim
[submodule "vendor/github.com/mitchellh/go-ps"]
	path = vendor/github.com/mitchellh/go-ps
	url = https://github.com/mitchellh/go-ps
[submodule "vendor/code.cloudfoundry.org/localip"]
	path = vendor/code.cloudfoundry.org/localip
	url = https://github.com/cloudfoundry/localip
